# Virtual environment
venv/

# Environment variables
.env

# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs and databases
*.log
*.sqlite3

# Output files
output/

# OS-specific files
.DS_Store
Thumbs.db